<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口,相当于之前对接口的实现-->
<mapper namespace="com.kuang.dao.UserMapper">
    <!--其中id后面跟接口中的方法名，相当于之前对接口方法的实现。之前实现类的返回值，现在也设置在select标签之中。-->
    <select id="getUserList" resultType="com.kuang.pojo.User">
    select * from mybatis.user
  </select>
</mapper>